.banner{
    background: rgb(75, 5, 75);
    color: black;
    text-align: center;
    padding: 2,5em 2em;
}
.banner__titulo{
    font-size: 15px;
    font-weight: 700;
}
.banner__texto{
    font-weight: 700;
    margin: 1mm 0;
}
.banner__pesquisa{
    background-color: transparent;
    border: 1px solid gainsboro;
    color: whitesmoke;
    border-radius: 24px;
    width: 100%;
}